.ipynb_checkpoints
test.py
venv
vnev/
.env/
.env
__pycache__
app-logs/
Course-Recommender-System/
Course_Recommender_System.egg-info
Course_Recommender_System.egg-info/
Course_Artifact\
Course_Artifact
asdf
front-end-logs